.card {
    width: var(--card-width);
    height: var(--card-height);
    font-size: var(--card-font-size);
}

.horizontal {
    width: var(--card-height);
    height: var(--card-width);
    font-size: 1rem;
    text-transform: uppercase;
}

.card-1 {
    background-color: blueviolet;
}

.card-1 {
    @apply bg-purple-600;
}

.card-2 {
    @apply bg-indigo-800;
}

.card-3 {
    @apply bg-blue-600;
}

.card-4 {
    @apply bg-green-700;
}

.card-5 {
    @apply bg-yellow-500;
}

.card-6 {
    @apply bg-orange-500;
}

.card-7 {
    @apply bg-red-600;
}
